<section class="section">
  <div class="row" id="table-bordered">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div>
              <%= search_form_for [:admin, @q] do |f| %>
                <div class="row mb-4">
                  <div class="col-3">
                    <div class="form-group">
                      <%= f.label :uuid_cont %>
                      <%= f.search_field :uuid_cont, class: "form-control" %>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <%= f.label :user_email_cont %>
                      <%= f.search_field :user_email_cont, class: "form-control" %>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <%= f.submit class: "btn btn-primary" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <!-- table bordered -->
            <div class="table-responsive">
              <table class="table table-bordered mb-0">
                <thead>
                  <tr>
                    <th>Uuid</th>
                    <th>Add By</th>
                    <th>Created At</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @profiles.each do |profile| %>
                  <tr>
                    <td><a href="https://fb.com/<%= profile.uuid %>" target="_blank"><%= profile.uuid %></a></td>
                    <td><%= profile.user.email %></td>
                    <td><%= profile.created_at %></td>
                    <td>
                      <%= link_to "Delete", [:admin, profile], data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>

                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="mt-3">
              <%= paginate @profiles, theme: 'twitter-bootstrap-4' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>